#################### ENVIRONNEMENT ###########################

NODE_ENV=development



#################### SERVER ###########################

PORT=3000
HOST=localhost
ENABLE_HTTP_SERVER=true



#################### DATABASE ###########################

DATABASE_URL="postgresql://username:password@localhost:5433/ms_offers"

#POSTGRES
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=ms_offers

# PGADMIN (Docker)
PGADMIN_EMAIL=email
PGADMIN_PASSWORD=password