#################### ENVIRONNEMENT ###########################

NODE_ENV=development



#################### SERVER ###########################

PORT=3000
HOST=localhost
ENABLE_HTTP_SERVER=true


